@charset "utf-8";
/* CSS Document */
body 
{
    PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-SIZE: 15px; 
	color:Blue;
	PADDING-BOTTOM: 0px; 
	letter-spacing:1px;
	MARGIN: 0px; 
	background-color:#EEF6FD; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: 新細明體; 		
}

.master-title
{
    font-size:28px;
    font-weight:bold;
    color:#FFFFFF;    
    font-family:新細明體
}

.master-detail
{
    font-size:20px;
    font-weight:bold;
    color:#FFFFFF;    
    font-family:新細明體
}

.page-title
{
    font-size: 16px; 
    font-weight: bold; 
    color: #333399    
}

.form-title
{
    color:#FFFFFF;
    font-family: 新細明體;
    font-weight:bold;
    background-color:#6B696B;    
    font-size:16px 
}

.form-title-link
{
    color:#FFFFFF;
    font-family: 新細明體;
    font-size:14px
}

.form-td01
{    
    color:#000000;
    font-family: 新細明體;
    font-weight:bold;    
    font-size:15px;
    background-color:#FFFFFF; 
    vertical-align:top
}

.form-td02
{
    color:#000000;
    font-family: 新細明體;
    font-weight:bold;    
    font-size:15px;
    background-color:#EEF6FD; 
    vertical-align:top
}

.grid-td01 
{
    color:#000000;
    font-size:14px;
    background-color:#EEF6FD; 
}

.grid-td02 
{
    color:#000000;
    font-size:14px;
    background-color:#FFFFFF;
}

.grid-td01-in
{
    color:#000000;
    font-size:14px;
    background-color:#EEF6FD; 
    border-right: black 1px solid; 
    border-top: black 1px solid; 
    border-left: black 1px solid;  
    border-bottom: black 1px solid; 
}

.checklist
{
    color:#333399;
    font-size:14px;
    background-color:#EEF6FD; 
    border-right: black 1px solid; 
    border-top: black 1px solid; 
    border-left: black 1px solid;  
    border-bottom: black 1px solid; 
    font-weight:bold
}

.grid-td02-in 
{
    color:#000000;
    font-size:14px;
    background-color:#EEF6FD;
    border-right: black 1px solid; 
    border-top: black 1px solid; 
    border-left: black 1px solid;  
    border-bottom: black 1px solid; 
}

.notnullstar
{
    color:Red;
    font-weight:bold    
}
.modal_title {
    padding-top: 10px;
    text-align: center;
    font-size: 120%;
}
.modal {
    text-align:center;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-size: 100%;
    background-color:rgba(0,0,0,0.15) !important;
}
.modal_body {
    text-align:center;
    position: absolute;    
    background-color:#F6F6F6;
    /*background-color: white;*/
    /*width:90%;*/
    /*width: 870px;*/
    top :10%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;   
    border-style: solid;
    border-color:#2E6E9E;
}
.modal_content {
    text-align:center;
}
table.tableStyle {
	font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.tableStyle th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.tableStyle tr {
	background-color:#d4e3e5;
}
table.tableStyle td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
    background-color:white;
}
.content:hover {border:1px solid #000000;}
